@import "./min";
@import "./fonts";

body {
	font-family: "Lato", sans-serif;
}

.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}

.ibg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
.ibg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	visibility: visible;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

// HEADER ----------------
.header {
	position: absolute;
	width: 100%;
	top: 35px;
	left: 0;
	z-index: 10;

	@media (max-width: 767px) {
		top: 25px;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 85px;
	}
	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		z-index: 3;
	}
	&__menu {
	}
}
.menu {
	// @media (max-width: 767px) {}
	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			top: -100%;
			width: 100%;
			height: 100%;
			left: 0;
			background-color: #4d4959;
			// display: block;
			padding-top: 160px;
			overflow: auto;
			transition: all 0.3s ease-in-out 0s;

			&.active {
				top: 0;
			}
		}
	}

	&__list {
		display: flex;
		position: relative;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}

		& li {
			padding: 0 37.5px;
			position: relative;

			&::after {
				content: "";
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: black;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -3px;

				@media (max-width: 767px) {
					width: 4px;
					height: 4px;
					left: 50%;
					margin-top: 31px;
					bottom: 0;
					background-color: white;
				}
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			&:nth-child(2) {
				padding-right: 0 110px 0 37.5px;
				// &::after {
				// 	display: none;
				// }
			}
			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}

			@media (max-width: 767px) {
				&:first-child,
				&:last-child,
				&:nth-child(2),
				&:nth-child(3) {
					padding: 0;
					margin: 0;
					margin-bottom: 45px;
				}
			}
		}
	}

	&__link {
		color: #4d4959;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;

		@media (max-width: 767px) {
			color: white;
			font-size: 21px;
		}
	}
}

.icon-menu {
	display: none;

	@media (max-width: 767px) {
		display: block;
		position: absolute;
		width: 33px;
		height: 20px;
		z-index: 11;
		transition: all 0.3s ease 0s;
		top: 10px;
		right: 22px;

		&.active::before,
		&.active::after,
		&.active span {
			background-color: #fff;
		}

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
			background-color: #fff;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&.active span {
			transform: scale(0);
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transition: all 0.3s ease 0s;
		}

		& span {
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transition: all 0.3 ease 0s;
			top: 9px;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}
}
.main-screen {
	flex: 1 0 100%;
	position: relative;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 4;
	}
}

.content {
}

// MAIN SECTION

.generation {
	background: rgba(247, 247, 247, 1);
	padding: 119px 0 124px 0;

	@media (max-width: 900px) {
		padding: 50px 0 60px 0;
	}
}

.block {
	text-align: center;

	&__logo {
		margin-bottom: 34px;
		@media (max-width: 900px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		color: #353738;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1.6;
		margin-bottom: 28px;

		@media (max-width: 900px) {
			margin-bottom: 15px;
		}
	}

	&__text {
		font-size: 18px;
		color: #848789;
		line-height: 1.7;
	}

	&__text--j {
		text-align: justify;
		position: relative;

		@media (max-width: 1500px) {
			font-size: 16px;
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			margin: 35px auto 0 auto;
			width: 52px;
			left: 46%;
			height: 2px;
			background: rgba(53, 55, 56, 0.2);
		}
	}
}

// BRANDS
// 1
.brands {
	&__row {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 1 1 33.333%;
		&--b {
			flex: 0 1 66.667%;
		}
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;

		@media (max-width: 1500px) {
			padding: 30px;
		}
		@media (max-width: 1000px) {
			padding-top: 500px;
		}
		@media (max-width: 800px) {
			padding-top: 400px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 0;
			bottom: -10px;
			left: 50%;
			margin-right: -10px;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid white;
		}
	}

	&__image {
		padding-bottom: 37.51%;
		height: auto;
		position: static;
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;

	@media (max-width: 1000px) {
		height: auto;
		padding-bottom: 50%;
	}

	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		background-color: #1ba86475;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
