@import "./min";
@import "./fonts";

body {
	font-family: "Lato", sans-serif;
}

.container {
	max-width: 1130px;
	padding: 0 15px;
}

.ibg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
.ibg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	visibility: visible;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

// HEADER ----------------
.header {
	position: absolute;
	width: 100%;
	top: 35px;
	left: 0;
	z-index: 10;

	@media (max-width: 767px) {
		top: 25px;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 85px;
	}
	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		z-index: 3;
	}
	&__menu {
	}
}
.menu {
	// @media (max-width: 767px) {}
	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			top: -100%;
			width: 100%;
			height: 100%;
			left: 0;
			background-color: #4d4959;
			// display: block;
			padding-top: 160px;
			overflow: auto;
			transition: all 0.3s ease-in-out 0s;

			&.active {
				top: 0;
			}
		}
	}

	&__list {
		display: flex;
		position: relative;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}

		& li {
			padding: 0 37.5px;
			position: relative;

			&::after {
				content: "";
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: black;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -3px;

				@media (max-width: 767px) {
					width: 4px;
					height: 4px;
					left: 50%;
					margin-top: 31px;
					bottom: 0;
					background-color: white;
				}
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			&:nth-child(2) {
				padding-right: 0 110px 0 37.5px;
				// &::after {
				// 	display: none;
				// }
			}
			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}

			@media (max-width: 767px) {
				&:first-child,
				&:last-child,
				&:nth-child(2),
				&:nth-child(3) {
					padding: 0;
					margin: 0;
					margin-bottom: 45px;
				}
			}
		}
	}

	&__link {
		color: #4d4959;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;

		@media (max-width: 767px) {
			color: white;
			font-size: 21px;
		}
	}
}

.icon-menu {
	display: none;

	@media (max-width: 767px) {
		display: block;
		position: absolute;
		width: 33px;
		height: 20px;
		z-index: 11;
		transition: all 0.3s ease 0s;
		top: 10px;
		right: 22px;

		&.active::before,
		&.active::after,
		&.active span {
			background-color: #fff;
		}

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
			background-color: #fff;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&.active span {
			transform: scale(0);
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transition: all 0.3s ease 0s;
		}

		& span {
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transition: all 0.3 ease 0s;
			top: 9px;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}
}
.main-screen {
	flex: 1 0 100%;
	position: relative;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.content {
}
